:root {
	--color-G0: #aeaeae;
    --color-G1: #838383;
    --color-G2: #646464;
    --color-G3: #4f4f4f;
    --color-G4: #404040;
    --color-G5: #313131;
    --color-G6: #121315;
    --color-G7: #1a1a1a;
    --color-G8: #1f1f1f;
	--color-M0: #1448ff;
	--color-M1: #102979;
	--color-M2: #051440;
	--color-A0: #ffe891;
	--color-A1: #9f7b00;
	--color-A2: #540;
	--color-E0: #e13d3d;
	--color-E1: #822828;
	--color-E2: #900;
	--color-S0: #529b53;
	--color-S1: #0a6421;
	--color-S2: #063e14;
}
