:root {
	--color-G0: #02021d;
	--color-G1: #727983;
	--color-G2: #9ea1a7;
	--color-G3: #bfc4cb;
	--color-G4: #cbd0d9;
	--color-G5: #e4e9f0;
	--color-G6: #f0f3f7;
	--color-G7: #f7f9fc;
	--color-G8: #fff;
	--color-M0: #3860f4;
	--color-M1: #e2eafe;
	--color-M2: #a8baff;
	--color-A0: #c57f00;
	--color-A1: #ffe778;
	--color-A2: #f7c400;
	--color-E0: #e55a5a;
	--color-E1: #ffbebe;
	--color-E2: #FF706D;
	--color-S0: #468847;
	--color-S1: #bdf4cb;
	--color-S2: #4ae371;
}
