.comment-sorting {
    font-size: 1rem;
    background: var(--color-greyscale-4);
    line-height: 1rem;
    padding: 1rem;
    border-bottom: var(--style-border);
}
.comment-sorting a {
	margin-left: 0.5rem;
}
.comment, .activity-event {
    padding: 1.5rem;
    margin-bottom: 0;
	border-bottom: var(--style-border);
	background: none;
    border-radius: var(--size-radius-def);
}
.comments .comment:nth-child(even):not(.comment-highlighted), .activity-event:nth-child(even){
	background: none;
}
#modal-content > .activity-event, #task-view .activity-event{
    background: var(--color-greyscale-4);
    border-radius: 0;
}
#modal-content>.page-header + .activity-event, #task-view .page-header + .activity-event {
    border-top-left-radius: var(--size-radius-def);
    border-top-right-radius: var(--size-radius-def);
}
#modal-content>.page-header ~ .activity-event:last-child, #task-view .page-header ~ .activity-event:last-child {
    border-bottom-left-radius: var(--size-radius-def);
    border-bottom-right-radius: var(--size-radius-def);
}
.comments .comment:hover, .activity-event:hover,
.comments .comment:nth-child(even):not(.comment-highlighted):hover,
.comments .comment:nth-child(odd):not(.comment-highlighted):hover{
	background: unset;
}
.comments .comment-highlighted, .comments .comment-highlighted:hover {
	background-color: var(--color-brand-secd);
    border: inherit;
}
.comment .avatar-left, .activity-event .avatar-left{
	margin-right: 1rem;
}
.comment-title, .activity-title{
	font-weight: normal;
	margin-bottom: 1rem;
	border: none;
    font-size: var(--size-font-min);
}
.activity-event .activity-title a{
    font-size: var(--size-font-min);
    font-weight: bold;
}
.comment-title *, .activity-title *{
    font-size: var(--size-font-min);
}
.comment-title{
	margin-left: 5rem;
}
.comment-title strong.comment-username {
	font-weight: normal;
}
.comment-title .comment-date{
    font-weight: normal;
}
.comment-content, .activity-content{
    margin: 0 0 0 5rem;
    font-size: 1rem;
    word-break: break-word;
}
.comment-content *, .activity-content *{
    line-height: 1.5rem !important;
}
.comment-content{
    margin-right: 4rem;
}
.comment-actions {
    text-align: right;
    float: right;
}
.activity-description{
	margin: 0;
}
.activity-description .activity-task-title {
    font-weight: bold;
}
.activity-description ul{
    margin: 1rem 0 0;
}
.activity-description li{
    list-style-type: inherit;
}
.activity-description > ul > li, .activity-changes > ul > li, .activity-description > .markdown, .activity-changes > .markdown, .comment-content > .markdown{
	margin: 0 0 2px;
    padding: 1rem 1.5rem;
    background: var(--color-greyscale-6);
    border-radius: var(--size-radius-def);
    box-shadow: var(--style-shadow-light);
    list-style-type: none;
}
.activity-changes > p > strong {
    font-size: var(--size-font-min);
    margin-top: 1rem;
    display: block;
    font-weight: normal;
}
.comments>form {
    margin-top: 1rem;
}
.comments>form .js-text-editor-rendered{
    max-width: 100%;
}
.comments>form .text-editor textarea, .comments>form .text-editor .text-editor-preview-area {
    box-sizing: border-box;
    height: 10rem;
}
.accordion-content > .activity-event{
    padding: 1.5rem 0;
}
