.board-task-list {
	min-height: 500px;
	/*background: linear-gradient(180deg, var(--color-greyscale-3), transparent 10%);*/
    border-radius: var(--size-radius-def);
	background-image: var(--pattern-dots-def);
    background-size: var(--pattern-dots-size);
    border-left: var(--style-border);
	box-shadow: inset -4rem 0 0 0 var(--color-greyscale-4);
}
.board-task-list-compact {
    max-height: calc(100vh - 16.5rem);
}
.task-board {
	border-radius: var(--size-radius-def);
	padding: 1rem;
	border: none;
	border-bottom: 1px solid;
	transition: box-shadow 0.15s, transform 0.15s;
	transition-timing-function: ease-in-out;
	font-size: 1rem;
	margin-bottom: 1rem;
	box-shadow: var(--style-shadow-light);
}
.task-board:hover {
	transform: translateY(-2px);
	box-shadow: var(--style-shadow-heavy);
}
.task-board a {
    color: var(--color-greyscale-1);
}
.draggable-placeholder {
    border: 1.5rem solid var(--color-greyscale-5);
    background-image: var(--pattern-dots-ph);
    background-size: var(--pattern-dots-size);
    margin-bottom: .75rem;
}

/*collapsed*/
.task-board-collapsed a.dropdown-menu strong{
	color: var(--color-greyscale-1);
}

/* recent and closed */
.task-board.task-board-recent,
.task-board.task-board-status-closed {
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
.task-board.task-board-status-closed .task-board-title {
	text-decoration: line-through;
	font-style: italic;
}
.task-board.task-board-recent .task-board-header > .dropdown:before {
	content: "\25CF";
    position: relative;
    margin-right: 0.5rem;
    color: var(--color-brand-prim);
}
.task-board-sort-handle i.fa-arrows-alt{
	padding: 1rem;
	margin: -.5rem 0 0 -1rem;
}
.task-board-expanded .task-board-saving-icon{
	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: var(--color-greyscale-6);
    background-color: rgba(0,0,0,.6);
}
.task-board-expanded .task-board-saving-icon i.fa{
	margin: 0;
    position: absolute;
    font-size: 1rem;
    bottom: 1rem;
    right: 1rem;
}
.task-board-category a, .table-list-category a {
	color: var(--color-greyscale-6);
	font-size: var(--size-font-min) !important;
    line-height: var(--size-font-min) !important;
	vertical-align: middle;
}


/* header */
.task-board-header {
	line-height: 1rem;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	justify-content: space-between;
}
.task-board-header > a {
	font-weight: bold !important;
	line-height: 1.667rem !important;
}
.task-board-header > .dropdown {
	margin-bottom: 0.5rem;
	min-width: 42px;
}
.task-board-header > .dropdown * {
	color: var(--color-greyscale-1);
}
.task-board-header > .js-modal-large {
	padding: 0 0.5rem;
	flex: 20px;
	margin-bottom: 0.5rem;
}

/* avatar */
.task-board-avatars {
	text-align: right;
    float: right;
	margin-bottom: 1rem;
}
.task-list-avatars{
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.task-board-avatars .avatar.avatar-inline,
.task-list-avatars .avatar.avatar-inline {
	margin-right: 0;
}
.task-board-header > .task-board-assignee, .task-avatar-assignee{
	display: none;
}

/* title */
.task-board-title, .table-list-title {
	line-height: 1rem !important;
	margin: 0 0 1rem;
	clear: both;
	display: block;
}
.task-board-title a, .table-list-title a {
    font-weight: bold !important;
	line-height: 1.5rem !important;
	font-size: 1rem;
	color: var(--color-greyscale-1);
}

/* category & tags */
.task-board .task-board-expanded > .task-board-category-container {
	margin: 0;
	text-align: left;
	display: contents;
	float: left;
}
.task-board .task-tags {
	display: contents;
}
.task-board .task-tags ul {
	display: contents;
}
.task-board-category, .task-tags li, .table-list-category, .task-list-tag {
    border: none;
    border-radius: var(--size-radius-def);
    line-height: 1.5rem;
    padding: 0 4px;
    margin: 0 .5rem 1rem 0 !important;
    font-weight: normal;
    font-size: var(--size-font-min);;
	color: var(--color-greyscale-6);
    background: var(--color-greyscale-1);
	float: left;
	opacity: .1;
}
.task-board-category:hover, .task-tags li:hover, .table-list-category:hover, .task-list-tag:hover{
	opacity: 1;
}
.table-list-category, .task-list-tag {
	float: none;
	display: inline-block;
	margin-bottom: 0 !important;
}
.task-board-category:hover, .table-list-category:hover {
	opacity: 1;
}
.task-board-category a:hover, .table-list-category a:hover {
	color: var(--color-greyscale-6) !important;
}

/* icons */
.task-board-icons, .task-list-icons {
	clear: both;
	font-size: 1rem;
	text-align: left;
    line-height: 2rem;
    margin-top: 0;
    opacity: .15;
}
.task-board-icons .task-board-icons-row {
	line-height: 2rem;
}
.task-board-icons:hover, .task-list-icons:hover {
    opacity: 1;
}
.task-board-icons .task-board-icons-row *, .task-list-icons *{
	margin: 0 .1rem 0 0 !important;
	font-size: var(--size-font-min);
	font-weight: normal;
	color: var(--color-greyscale-1) !important;
}
.task-board-icons .task-board-icons-row > *, .task-list-icons > *{
	margin: 0 .5rem 0 0 !important;
	opacity: 1;
	display: inline;
}
.task-board-icons .task-board-icons-row .task-date-overdue, .task-list-icons .task-date-overdue,
.task-board-icons .task-board-icons-row .task-date-overdue i.fa, .task-list-icons .task-date-overdue i.fa {
	color: var(--color-warning-prim) !important;
	background: var(--color-warning-cont);
}
.task-board-icons .task-board-icons-row .task-icon-age .task-icon-age-total,
.task-board-icons .task-board-icons-row .task-icon-age .task-icon-age-column,
.task-list-icons .task-icon-age .task-icon-age-total,
.task-list-icons .task-icon-age .task-icon-age-column{
	border: none;
	background: var(--color-greyscale-3);
	opacity: 1;
    mix-blend-mode: luminosity;
}
.task-board-icons .task-board-icons-row .task-icon-age .task-icon-age-total,
.task-list-icons .task-icon-age .task-icon-age-total {
	border-top-left-radius: var(--size-radius-def);
	border-bottom-left-radius: var(--size-radius-def);
	margin: 0 -0.2rem 0 0 !important;
    border-right: 1px solid var(--color-greyscale-2);
}
.task-board-icons .task-board-icons-row .task-icon-age .task-icon-age-column,
.task-list-icons .task-icon-age .task-icon-age-column {
	border-top-right-radius: var(--size-radius-def);
	border-bottom-right-radius: var(--size-radius-def);
	margin: 0;
}
