header .title-container {
	flex: 14;
}
header .title-container span.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header h1 {
	height: 3rem;
	display: flex;
	align-items: flex-end;
	font-size: 1.5rem !important;
}
header h1 .logo {
	line-height: 0;
	width: 3rem;
}
header h1 .logo a {
	font-size: 0 !important;
	line-height: 0 !important;
}
header h1 .logo a img {
	height: 2rem;
	border-radius: var(--size-radius-def);
	border-bottom: var(--style-border);
    box-shadow: var(--style-shadow-light);
}
header h1 .tooltip {
	font-size: 1rem;
	line-height: 2rem;
	padding-left: 0.5rem;
	opacity: 1;
}
header h1 .tooltip i.fa{
	color: var(--color-greyscale-2);
}
header .board-selector-container {
	display: contents;
	width: 100%;
	padding-top: 1rem;
}
header .menus-container {
	align-items: flex-end;
    padding: 1rem 0 0.25rem;
    flex: 1;
    min-width: 10rem;
}
.notification {
	line-height: 2rem;
}
header .notification i.web-notification-icon{
	color: var(--color-brand-prim) !important;
	text-shadow: 0 0 2rem var(--color-brand-prim);
}
