.TR .form-login{
    margin: 1rem auto;
    height:calc(100vh - 3rem);
    min-height: 480px;
    background: var(--color-greyscale-6);
    position: relative;
    box-shadow: var(--style-shadow-light);
    border-radius: var(--size-radius-def);
    border-bottom: var(--style-border);
    text-align: center;
}
.TR .form-login > .page-header {
    position: absolute;
    display: block;
    height: 4.5vh;
    width: auto;
    top: 5.5vh;
    left: 1rem;
    right: 1rem;
}
.TR .form-login > .logo{
    background: var(--color-greyscale-6);
    margin: 10vh 1.25rem .25rem;
    height: 2.7rem;
    border-radius: var(--size-radius-def);
    box-shadow: var(--style-shadow-heavy);
    border-bottom: var(--style-border);
    z-index: 999;
    position: relative;
}
.TR .form-login > form{
    text-align: left;
    padding: 2rem;
    background-color: var(--color-greyscale-6);
    box-shadow: inset 0 15rem 10rem 0 var(--color-greyscale-5); 
    margin: 1.25rem;
    z-index: 999;
    position: relative;
}
.TR .form-login input#form-username, .form-login input#form-password {
    width: 100%;
}
