.sidebar {
    max-width: 25%;
    padding: 0;
    margin-right: 4rem;
	display: block;
}
.sidebar .sidebar-title{
	padding: 1rem;
	border-radius: var(--size-radius-def) var(--size-radius-def) 0 0;
	border-bottom: var(--style-border);
}
.sidebar .sidebar-title h2{
	margin-bottom: 0;
}
.sidebar > ul{
	background: none;
	border-bottom: var(--color-greyscale-3);
	border-radius: 0 0 var(--size-radius-def) var(--size-radius-def);
}
.sidebar-content div[class*=js-chart-]{
	padding: 1rem;
	background: var(--color-greyscale-5);
    margin-bottom: 1rem;
    border-bottom: var(--style-border);
}
.sidebar>ul li{
	margin: 0;
	line-height: 3rem;
    border-bottom: var(--style-border);
	padding-left: 1.25rem;
}
.sidebar>ul li.active, .sidebar>ul li:hover {
    border-left: 2px solid var(--color-greyscale-1);
    padding-left: .75rem;
	background: var(--color-greyscale-6);
    border-radius: var(--size-radius-def);
}
.sidebar>ul li a{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	line-height: 3rem;
}
.sidebar>ul li.active a{
	font-weight: bold;
}
.sidebar>ul li.active a:focus, .sidebar>ul li.active a:hover{
	color: var(--color-greyscale-1);
}
.sidebar.sidebar-icons>ul ul li {
	font-size: 0;
}
.sidebar-icons>ul ul li a {
    width: calc(100% - 2.6rem);
}
.sidebar.sidebar-icons li i.fa{
	margin-right: 1.5rem;
	font-size: 1rem;
}
.sidebar-icons>ul ul li i.fa {
	vertical-align: middle;
}

.themeRevisionMenuBtn{
	display: none;
}
