.comment-sorting {
    font-size: 1rem;
    background: var(--color-G6);
    line-height: 1rem;
    padding: 1rem;
    border-bottom: var(--style-border);
}
.comment-sorting a {
	margin-left: 0.5rem;
}
.comment, .activity-event {
    padding: 1rem;
    margin-bottom: 0;
	border-bottom: var(--style-border);
	background: var(--color-G6);
}
.comments .comment:nth-child(even):not(.comment-highlighted), .activity-event:nth-child(even){
	background: var(--color-G7);
}
.comments .comment-highlighted{
	background-color: var(--color-M1);
    border: 1px solid var(--color-M0);
}
.comments .comment:hover, .activity-event:hover,
.comments .comment:nth-child(even):not(.comment-highlighted):hover,
.comments .comment:nth-child(odd):not(.comment-highlighted):hover{
	background: var(--color-G8);
}
.comment .avatar-left, .activity-event .avatar-left{
	margin-right: 1rem;
}
.comment-title, .activity-title{
	font-weight: bold;
	margin-bottom: 1rem;
	border: none;
}
.comment-content, .activity-content{
    margin: 0 0 0 5rem;
    font-size: 1rem;
    word-break: break-word;
}
.comment-content *, .activity-content *{
    line-height: 1.5rem !important;
}
.comment-content{
    margin-right: 4rem;
}
.comment-actions {
    text-align: right;
    float: right;
}
.activity-description{
	margin: 0;
}
.activity-description ul{
	margin: 0;
}
.activity-description li {
	list-style-type: decimal;
}
.comments>form {
    margin-top: 1rem;
}
.comments>form .js-text-editor-rendered{
    max-width: calc(100% - 1.5rem);
}
