:root {
	--size-R0: 2px;
	--size-F0: 13px;
	--size-W0: unset;
	--size-W1: 220px;
	--size-font-min: max(12px, 0.875rem);

	--style-border: 1px solid var(--color-G5);
	--style-shadow0: 0 1px 2px 0 rgba(0, 0, 0, .04);
	--style-shadow1: 0 3px 8px 0 rgba(0, 0, 0, .08);
	--style-shadow2: 0 2px 4px 0px rgb(0, 0, 0, .07);
	--style-fontfamily: "SF Pro Display", Calibri, Helvetica, Verdana, Arial, sans-serif;
	--style-letterspacing: .02rem;
	
	/*default css override*/
	--color-dark: var(--color-G0);
	--color-primary: var(--color-G0);
	--color-medium: var(--color-G0);
	--color-light: var(--color-G0);
	--color-lighter: var(--color-G0);
	--color-error: var(--color-E0);

	--link-color-primary: var(--color-G0);
	--link-color-focus: var(--color-M0);
    --link-color-hover: var(--color-M0);

	--avatar-color-letter: var(--color-G8);

	--alert-color-info: var(--color-M0);
	--alert-background-color-info: var(--color-M1);
	--alert-border-color-info: var(--color-M2);

	--alert-color-default: var(--color-A0);
	--alert-background-color-default: var(--color-A1);
	--alert-border-color-default: var(--color-A2);

	--alert-color-normal: var(--color-G0);
	--alert-background-color-normal: var(--color-G7);
	--alert-border-color-normal: var(--color-G5);

	--alert-color-error: var(--color-E0);
	--alert-background-color-error: var(--color-E1);
	--alert-border-color-error: var(--color-E2);

	--alert-color-success: var(--color-S0);
	--alert-background-color-success: var(--color-S1);
	--alert-border-color-success: var(--color-S2);

	--activity-title-color: var(--color-G0);

	--button-default-color: var(--color-G0);
    --button-default-background-color: var(--color-G8);
    --button-default-border-color: var(--color-G8);
    --button-default-color-focus: var(--color-G1);
    --button-default-background-color-focus: var(--color-G8);
    --button-default-border-color-focus: var(--color-G8);

	--button-primary-color: var(--color-G8);
	--button-primary-background-color: var(--color-M0);
    --button-primary-border-color: var(--color-M0);
	--button-primary-color-focus: var(--color-M2);
	--button-primary-background-color-focus: var(--color-M0);
    --button-primary-border-color-focus: var(--color-M0);
	
	--button-danger-color: var(--color-G8);
	--button-danger-border-color: var(--color-E0);
	--button-danger-background-color: var(--color-E0);
	--button-danger-color-focus: var(--color-E2);
	--button-danger-background-color-focus: var(--color-E0);
    --button-danger-border-color-focus: var(--color-E0);
	
	--button-disabled-color: var(--color-G3);
    --button-disabled-background-color: var(--color-G5);
    --button-disabled-border-color: var(--color-G5);
}
html,
body {
	font-size: var(--size-F0);
}
body {
	background-color: var(--color-G6);
	padding: .5rem 2rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--style-fontfamily);
	letter-spacing: var(--style-letterspacing);
	
}
a {
	font-size: 1rem !important;
	line-height: 1rem !important;
	font-weight: normal !important;
	opacity: 1 !important;
	text-decoration: none !important;
}
a:not(.btn):hover, a > *:hover{
	color: var(--link-color-hover) !important;
	text-decoration: none !important;
}
li {
	padding: 0;
	margin: 0 0 1rem 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
	list-style-type: inherit;
}
p {
    margin-bottom: 1em;
    line-height: 1.5em;
	font-size: 1rem;
	color: var(--color-G0);
}
hr{
	margin: 0;
	border-top: 1px solid var(--color-G6);
	border-bottom: 0;
}
small {
	font-size: var(--size-font-min);
}
button, .btn {
	line-height: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: var(--size-R0);
    margin-top: 1rem;
    min-width: 6rem;
    text-align: center;
	box-shadow: var(--style-shadow0);
}
.btn:disabled {
	cursor: auto;
	box-shadow: none;
}
h1, h2, h3, h1 a, h2 a, h3 a, .accordion-title{
	line-height: 1.2em !important;
	font-weight: bold !important;
	border: none !important;
	margin: 0;
}
h1, h1 a {
	font-size: 2rem !important;
}
h2, h2 a, .accordion-title {
	font-size: 1.3rem !important;
}
h3, h3 a {
	font-size: 1rem !important;
}
article {
	line-height: 1.5rem;
	word-break: break-word;
}
.markdown{
	line-height: 1.5rem;
}
.markdown *{
	line-height: 1.5rem;
	text-align: justify;
}
.markdown p {
	margin-bottom: 1rem;
}
.markdown ol, .markdown ul{
	margin: 1rem 0 1rem 2rem;
}
i.fa{
	line-height: 1rem;
	width: 1rem;
	padding: 0;
	margin: 0;
	margin-right: .5rem;
	color: var(--color-G0) !important;
}
.avatar.avatar-left {
	margin-right: .5rem;
}
.avatar.avatar-inline {
	margin: 0 .5rem 0 0;
}
.avatar .avatar-letter {
	white-space: nowrap;
}
.avatar.avatar-20 .avatar-letter, .avatar.avatar-13 .avatar-letter{
	font-size: 1rem;
	line-height: 1.667rem;
	width: 1.667rem;
}
#user-section .sidebar-content > .avatar-48 {
	padding: 1rem;
}
.avatar img {
    vertical-align: middle;
}
.avatar-13 img, .avatar-13 div,
.avatar-20 img, .avatar-20 div,
.avatar-48 img, .avatar-48 div {
	border-radius: var(--size-R0) !important;
}
.avatar.avatar-48 .avatar-letter {
    font-size: 1.5rem; 
	line-height: 4rem;
	width: 4rem;
	font-weight: bold;
}
.alert{
	margin: 1rem 0;
	border-radius: var(--size-R0);
	padding: 0.5rem 1rem;
	max-width: calc(var(--size-W0) - 2rem);
	border: 0;
}
#tooltip-container {
	width: unset;
	min-width: 0;
	overflow-wrap: break-word;
    padding: 1rem;
    background: var(--color-G8);
    border: none;
	border-bottom: var(--style-border);
    border-radius: var(--size-R0);
    box-shadow: var(--style-shadow1);
    position: absolute;
	z-index: 1;
}
#tooltip-container > *{
	min-width: 0;
	max-width: 350px;
	width: unset;
}
.margin-bottom {
	margin-bottom: 1rem;
}
.margin-bottom > form, .filter-box > form{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}
.pagination {
    font-size: var(--size-font-min);
	margin-bottom: 1rem;
}
.pagination-showing {
    margin-right: .5em;
    padding-right: .5em;
    border-right: var(--style-border);
}
.pagination-previous, .pagination-next {
    margin-right: .5em;
}


