:root {
	--color-G0: #02021d;
	--color-G1: #727983;
	--color-G2: #9ea1a7;
	--color-G3: #bfc4cb;
	--color-G4: #cbd0d9;
	--color-G5: #e4e9f0;
	--color-G6: #eceff4;
	--color-G7: #f7f9fc;
	--color-G8: #fff;
	--color-M0: #3860f4;
	--color-M1: #e2eafe;
	--color-M2: #a8baff;
	--color-A0: #c57f00;
	--color-A1: #ffe778;
	--color-A2: #f7c400;
	--color-E0: #e55a5a;
	--color-E1: #ffbebe;
	--color-E2: #ff8f8f;
	--color-S0: #468847;
	--color-S1: #bdf4cb;
	--color-S2: #4ae371;

    /*default css override*/
	--color-dark: var(--color-G0);
	--color-primary: var(--color-G0);
	--color-medium: var(--color-G0);
	--color-light: var(--color-G0);
	--color-lighter: var(--color-G0);
	--color-error: var(--color-E0);

	--link-color-primary: var(--color-G0);
	--link-color-focus: var(--color-M0);
    --link-color-hover: var(--color-M0);

	--avatar-color-letter: var(--color-G8);

	--alert-color-info: var(--color-M0);
	--alert-background-color-info: var(--color-M1);
	--alert-border-color-info: var(--color-M2);

	--alert-color-default: var(--color-A0);
	--alert-background-color-default: var(--color-A1);
	--alert-border-color-default: var(--color-A2);

	--alert-color-normal: var(--color-G0);
	--alert-background-color-normal: var(--color-G7);
	--alert-border-color-normal: var(--color-G5);

	--alert-color-error: var(--color-E0);
	--alert-background-color-error: var(--color-E1);
	--alert-border-color-error: var(--color-E2);

	--alert-color-success: var(--color-S0);
	--alert-background-color-success: var(--color-S1);
	--alert-border-color-success: var(--color-S2);

	--button-default-color: var(--color-G0);
    --button-default-background-color: var(--color-G8);
    --button-default-border-color: var(--color-G8);
    --button-default-color-focus: var(--color-G1);
    --button-default-background-color-focus: var(--color-G8);
    --button-default-border-color-focus: var(--color-G8);

	--button-primary-color: var(--color-G8);
	--button-primary-background-color: var(--color-M0);
    --button-primary-border-color: var(--color-M0);
	--button-primary-color-focus: var(--color-M2);
	--button-primary-background-color-focus: var(--color-M0);
    --button-primary-border-color-focus: var(--color-M0);
	
	--button-danger-color: var(--color-G8);
	--button-danger-border-color: var(--color-E0);
	--button-danger-background-color: var(--color-E0);
	--button-danger-color-focus: var(--color-E2);
	--button-danger-background-color-focus: var(--color-E0);
    --button-danger-border-color-focus: var(--color-E0);
	
	--button-disabled-color: var(--color-G3);
    --button-disabled-background-color: var(--color-G5);
    --button-disabled-border-color: var(--color-G5);
}

/*Color Schemas*/
.color-yellow {
	background-color: var(--color-A1) !important;
	border-color: var(--color-A2) !important;
}
.color-blue {
	background-color: var(--color-M1) !important;
    border-color: var(--color-M2) !important;
}
.color-green{
    background-color: var(--color-S1) !important;;
    border-color: var(--color-S2) !important;;
}
.color-purple {
	background-color: #eacbff !important;
	border-color: #d9a1ff !important;
}
.color-red {
	background-color: var(--color-E1) !important;
	border-color: var(--color-E2) !important;
}
.color-orange {
    background-color: #ffd7b3 !important;
    border-color: #ffac62 !important;
}
.color-grey {
	background-color: var(--color-G8) !important;
	border-color: var(--color-G4) !important;
}
.color-brown {
	background-color: #d9d2d0 !important;
	border-color: #b79f9a !important;
}
.color-deep_orange {
	background-color: #fdbca8 !important;
	border-color: #ff8762 !important;
}
.color-dark_grey {
	background-color: var(--color-G5) !important;
	border-color: var(--color-G3) !important;
}
.color-pink {
	background-color: #ffb3cc !important;
	border-color: #f96b9f !important;
}
.color-teal {
	background-color: #aaece5 !important;
	border-color: #6bb7ad !important;
}
.color-cyan {
    background-color: #b7f2fa !important;
    border-color: #4ed5e7 !important;
}
.color-lime {
    background-color: #e6ee9c !important;
    border-color: #afb42b !important;
}
.color-light_green {
    background-color: #dcedc8 !important;
    border-color: #689f38 !important;
}
.color-amber {
	background-color: #ffd868 !important;
	border-color: #feb310 !important;
}








