header {
	background: none;
	border-bottom: none;
	margin: 0 0 3rem;
	padding: 0;
	align-items: flex-end;
}
.page {
	margin: 0;
}
#main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.page > #main > p, .page > #main > .alert, .page > .filter-box, .page > .margin-bottom {
	margin: 0 0 1rem;
	max-width: var(--size-W0);
}
.page > .activity-event{
	margin: 0;
	max-width: calc(var(--size-W0) - 2rem);
}

.project-header {
	padding: 0;
	margin: -1.5rem 0 3rem;
	background: none;
	max-width: 100%;
	height: 2.5rem;
}
#board-container {
	background: var(--color-G6);
	overflow-x:inherit
}
.sidebar-container{
	/*max-width: calc(var(--size-W0) + var(--size-W1) + 4rem);*/
	max-width: calc(var(--size-W0) + var(--size-W1) - 4rem);
}
.sidebar-content, .accordion-section{
	padding-left: 0;
	max-width: var(--size-W0);
	/*width: 60vw;*/
	background: var(--color-G8);
    padding: 1rem 2rem;
	border-radius: var(--size-R0);
	border-bottom: var(--style-border);
	margin-bottom: 1rem;
	box-sizing: border-box;
	/*background-image: linear-gradient(0deg, var(--color-G8) 1rem, transparent 1rem),
						linear-gradient(90deg, var(--color-G8) 1rem, transparent 1rem),
						linear-gradient(180deg, var(--color-G8) 1rem, transparent 1rem),
						linear-gradient(270deg, var(--color-G8) 1rem, transparent 1rem);*/
}
#main .sidebar-content, #main > .accordion-section, .page > .table-list{
	box-shadow: var(--style-shadow1);
}
#main .sidebar-content{
	padding: 2rem;
}
.page-header, .sidebar-content > h2, .sidebar-content > h3, .accordion-title{
	/*background: var(--color-G8);*/
    border: none;
    border-radius: var(--size-R0) var(--size-R0) 0 0;
    /*border-bottom: var(--style-border);*/
    padding: 1rem 0;
    margin: 0 0 0.5rem;
	background-image: radial-gradient(var(--color-G4) 0.8px, var(--color-G8) 0.8px);
    background-size: 16px 16px;
	text-shadow: 0 0 1em var(--color-G8);
}
.sidebar-content > h3 {
	background-image: none;
}
.page > #main > .page-header, .page > .page-header{
	background: none;
	border: none;
	padding: 0;
	margin-bottom: 3rem;
	box-shadow: none;
	margin-top: -1.5rem;
}
.page-header ul {
    width: 100%;
}
.panel, .table-list, form, .accordion-content, .sidebar-content > .markdown {
	border: none;
    /*border-bottom: var(--style-border);*/
	border-radius: var(--size-R0);
	line-height: 1.5rem;
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1rem;
	color: var(--color-G0);
	height: auto;
    padding: 1rem 1.5rem;
    width: auto;
    max-width: var(--size-W0);
    background: var(--color-G6);
	box-sizing: border-box;
}
.table-list{
	background: var(--color-G8);
}
.panel > * , .table-list > * , form > * , .accordion-content > * {
    border-bottom: none;
    margin: 0 0 1rem;
    padding: 0;
}
.panel > *:last-child:not(.alert) , .table-list > *:last-child:not(.alert) , form > *:last-child:not(.alert) , .accordion-content > *:last-child:not(.alert) {
    margin-bottom: 0;
	margin-right: 0;
}
.panel > ul:last-child > li:last-child{
	margin-bottom: 0;
}
.accordion-content > table{
	table-layout: fixed;
}

