.fc-toolbar.fc-header-toolbar, .page > #main > .menu-inline {
	background: var(--color-G8);
    border: none;
    border-radius: var(--size-R0);
    border-bottom: var(--style-border);
    padding: 1.5rem;
    margin: 0;
}
.fc-toolbar.fc-header-toolbar{
	padding: 0.5rem 0 1.5rem;
}
.page > #main > .menu-inline {
	max-width: unset;
	box-shadow: var(--style-shadow1);
}
.js-calendar{
	padding: 1rem 2rem;
    background: var(--color-G8);
    border-radius: var(--size-R0);
    border-bottom: var(--style-border);
	min-width: 680px;
	box-shadow: var(--style-shadow1);
}
#modal-content .js-calendar{
	padding: 0;
	box-shadow: none;
}
.fc-state-default, .fc button{
	text-shadow: none;
	background-image: none;
	color: var(--color-G0);
	font-size: 1rem;
	line-height: 1rem;
	padding: .5rem 1rem;
	height: auto;
}
.fc-state-default.fc-corner-right {
    border-top-right-radius: var(--size-R0);
    border-bottom-right-radius: var(--size-R0);
}
.fc-state-default.fc-corner-left {
    border-top-left-radius: var(--size-R0);
    border-bottom-left-radius: var(--size-R0);
}
.fc-toolbar .fc-state-active {
    background: var(--color-G8);
    box-shadow: inset 0 2px 0 0 var(--color-G7);
}
.fc-state-disabled {
	opacity: .5;
	cursor: default !important;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead{
	border-color: var(--color-G5);
	border-right: 0;
}
.fc-unthemed th {
	line-height: 2rem;
	border-top: 0;
	background: var(--color-G8);
}
.fc-unthemed td.fc-today {
    background: var(--color-G6);
}
.fc-row table {
    margin: 0;
}
.fc-toolbar h2 {
    line-height: 2rem;
}
.fc-head-container, .fc-widget-header{
	border-top: 0 !important;
}
.fc-event{
	border-radius: var(--size-R0);
	color: var(--color-G0) !important;
    font-size: var(--size-font-min) !important;
    border-top: 0;
}
.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {
    padding: 0.5rem;
}

.page > #main > #gantt-chart{
	margin: 0 0 1rem;
	box-shadow: var(--style-shadow1);
}
div.ganttview{
	background: var(--color-G8);
	border: none;
	max-width: calc(100vw - 7rem);
	border-bottom: var(--style-border);
	padding: 0 1.5rem 1.5rem;
}
div.ganttview-vtheader{
	background: var(--color-G8);
}
div.ganttview-slide-container{
	border-color: var(--color-G5);
}
div.ganttview-vtheader-item{
	color: var(--color-G0);
}
div.ganttview-vtheader-series-name{
	padding-left: 1rem;
    border-top: var(--style-border);
    padding-right: 1rem;
    width: calc(400px - 2rem);
    font-size: var(--size-font-min);
}
div.ganttview-vtheader-series-name a {
    color: var(--color-G0);
	font-size: var(--size-font-min) !important;
}
div.ganttview-hzheader-month {
    border-right: var(--style-border);
	font-size: var(--size-font-min);
}
div.ganttview-hzheader-day {
    border-right: var(--style-border);
    border-top: var(--style-border);
    color: var(--color-G1);
}
div.ganttview-grid-row-cell {
    border-right: var(--style-border);
    border-top: var(--style-border);
}
div.ganttview-grid-row-cell.ganttview-today {
    background-color: var(--color-G6);
}
div.ganttview-grid-row-cell.ganttview-weekend {
    background-color: var(--color-G7);
}
div.ganttview-block{
	border-radius: var(--size-R0);
	border-top: 0;
}
div.ganttview-block-text{
	color: var(--color-G0);
	z-index: 1;
}
/* metaMagik: custom fields*/
#config-section > .sidebar-content > .row > .column {
	width: 100%;
	padding: 0;
}
#config-section > .sidebar-content > .row > .column > .metadata-table {
	table-layout: fixed;
}
