.project-overview-columns {
	margin: 0 auto 1rem;
	background-color: var(--color-G8);
	border-radius: var(--size-R0);
	border-bottom: var(--style-border);
	width: 100%;
	padding: 1.5rem 0 1rem;
	box-shadow: var(--style-shadow1);
}
.project-overview-column {
	margin: 1rem 0;
	padding: 0 3rem;
	background: var(--color-G8);
	border: 0;
	border-right: var(--style-border);
	border-radius: var(--size-R0);
	font-size: 2rem;
	line-height: 2rem;
}
.project-overview-column:first-child {
    border-left: var(--style-border);
}
.project-overview-column strong {
	font-size: 3rem;
	font-family: Consolas, "SF Mono", ui-monospace;
}
.project-overview-column small {
    padding-top: .75rem;
    display: block;
}
